@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,700&display=swap");

:root {
  --color-blue: #435f7a;
  --color-light-grey: #9a9999;
  --color-dark-grey: #ffffff78;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #9023235c;
  --color-bright-red: #902323;
  --color-green: #437a78;
  --font-nunito: "Nunito", sans-serif;
}
html {
  background: var(--color-blue);
  background: linear-gradient(
    to bottom,
    var(--color-blue),
    var(--color-light-grey)
  );
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  font-family: var(--font-nunito);
  margin: 0;
  padding: 0;
}

header {
  color: var(--color-white);
  font-size: 1.2rem;
  width: 100vw;
  min-height: 60px;
  display: flex;
  padding: 0 50px;

  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2rem;
  font-weight: 800;
}

.btn {
  display: inline-block;
  padding: 0.2em 1em;
  border: 0.1em solid var(--color-white);
  border-radius: 1.2em;
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  transition: all 0.2s;
  background: none;
}
.btn:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.content-wrapper {
  max-width: 500px;
  height: 70vh;
  margin: 20px auto;
  font-size: 1.5rem;
  background: var(--color-dark-grey);
  border-radius: 1em;
}

.form-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-around;
}
.form-column input {
  font-size: 1.5rem;
  padding: 0.2em 1em;
  min-width: 450px;
  outline: none;
  color: var(--color-black);
}
