header {
  padding-right: 50px;
  justify-content: flex-end;
}

.btn.mrgn-right {
  margin-right: 1em;
}

/* container for the tasks */
.main-container {
  margin: 0 auto 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: none;
}

/* task */
.task-li {
  background: var(--color-dark-grey);
  padding: 1em;
  border-radius: 1em;
  margin: 0.2em 0;
}
.task-li > * {
  cursor: pointer;
}
.task-li .checkbox {
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}
.task-li-name {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.task-li-name label {
  width: 80%;
  margin: 0 4px 0 10px;
}
.task-li-description {
  word-wrap: break-word;
  display: none;
}
.hidden {
  display: block;
}
/* overdue task*/
.task-passed {
  background: var(--color-red);
}
/* completed task */
.task-completed {
  background: var(--color-green);
  opacity: 0.5;
  text-decoration: line-through;
}

/* delete and edit icons */
.task-li .far {
  color: var(--color-black);
  transition: all 0.3s;
}
.far.fa-edit {
  margin-right: 5px;
}
.far.fa-edit:hover {
  color: var(--color-bright-blue);
}
.far.fa-times-circle:hover {
  color: var(--color-bright-red);
}
