.Footer {
  background-color: #282c34;
  color: white;
  padding: 3rem;
}
.Footer a {
  color: #f5de50;
  margin-left: 10px;
  margin-right: 10px;
}
#react-footer {
  color: #61dafb;
}
#redux {
  color: #764abc;
}
