* {
  box-sizing: border-box;
}

.container {
  height: 450px;
  width: 900px;
  border-top: 1px solid gray;
  border-bottom: 1px solid black;
  display: flex;
}

.box {
  background-color: coral;
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

.column {
  display: flex;
}

.column:nth-of-type(2) {
  flex-grow: 2;
  margin: 0 50px;
}

.col {
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  align-items: center;
  justify-content: space-around;
}
