.Footer {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  padding: 3rem;
}
.Footer a {
  color: var(--color-imdb-yellow);
  margin-left: 10px;
  margin-right: 10px;
}
#react-footer {
  color: var(--color-react-blue);
}
#redux {
  color: var(--color-redux-purple);
}
