* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 2fr;
  width: 400px;
  height: 500px;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  border: 1px solid red;
  padding: 8px;
}

.grid-item {
  border: 2px solid black;
}
.red {
  background-color: indianred;
}
.blue {
  background-color: lightblue;
}
.yellow {
  background-color: burlywood;
  grid-column: span 2;
}
