/* body {
  background-color: darkturquoise;
} */
section {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
}
div {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

/*  initial state */
section > div {
  width: 483px;
  height: 298px;
  background: #676470;
  transition: all 0.3s ease;
  /* the properties to transition (in our case all)
  the speed of the transition (in our case 0.3 seconds)
  and a third value which lets you change how the acceleration and deceleration is calculated,
  but we’ll stick with the default by leaving this blank. */
}

.b {
  border: 2px solid red;
}

/* FADE IN ANIMATION */
.fade {
  opacity: 0.5;
}
.fade:hover {
  opacity: 1;
}

/* CHANGE COLOR ANIMATION */
.color:hover {
  background: #53a7ea;
}

/* GROW ANIMATION */
.grow {
  border: 1px solid red;
}
.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* SHRINK ANIMATION */
.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/* ROTATE ANIMATION */
.rotate:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
/* SQUARE TO CIRCLE ANIMATION */
.circle:hover {
  border-radius: 50%;
}

/* 3D SHADOW */

/* This effect is achieved by adding a box shadow,
and then moving the element on the x axis using the transform and translate properties
so that it appears to grow out of the screen. */
.threed:hover {
  box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

/* SWING ANIMATION */
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* INSET BORDER ANIMATION */
/* One of the hottest button styles right now is the ghost button;
a button with no background and a heavy border.
We can of course add a border to an element simply, but that will change the element’s position.
We could fix that problem using box sizing,
but a far simpler solution is the transition in a border using an inset box shadow. */
.border:hover {
  box-shadow: inset 0 0 0 25px #53a7ea;
}
