* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: grey;
}

.card {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 600px;
  height: 200px;
  margin: 50px;
  padding: 25px 0;
}
#input {
  width: 450px;
  margin: 5px 25px 20px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid grey;
}

p {
  padding-left: 25px;
  height: 30px;
  width: 600px;
}
